#icon {
    height: 100px;
    size: 100px;
    padding-left: 50px;
}

#navbar {
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #B8CBE3;
    color:#1E4EA1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    border: #B8CBE3 solid 5px;
    
}

#socorro{
    margin: 0px;
    padding: 0px;
    background-color: rgb(122, 188, 247);
}

.botao{
 width: 300px;           
    padding: 10px;
    border-radius: 25px;
    border: none;
    background-color: #1E4EA1;
    color: white;
    font-weight: bold;
    cursor: pointer;
    text-align: center;      
}

.botao1{
     background-color: #1E4EA1;
  color: white;
  padding: 6px 15px;
  border-radius: 20px;
  border: none;
  font-size: 12px;
  cursor: pointer;
  text-align: left;
}
.divisabota{
display: flex;
    flex-direction: column;   
    align-items: flex-end;    
    gap: 10px;
    padding-right: 50px;
    position: absolute;   
    top: 40px;            
    right: 40px;
}