
#icon {
    height: 100px;
    size: 100px;
    padding-left: 50px;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: rgb(31, 79, 163);
    color: rgb(22, 63, 134);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;

}

#socorro{
    margin: 0px;
    padding: 0px;
    background-color: rgb(122, 188, 247);
}

#botao{
    background-color: #1F4FA3;   
  color: white;                
  padding: 12px 20px;         
  border: none;                
  border-radius: 25px;         
  cursor: pointer;             
  font-weight: bold;
  transition: 0.3s;         
}
