#icon {
    height: 100px;
    size: 100px;
    padding-left: 50px;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: rgb(108, 108, 231);
    color: rgb(141, 141, 245);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
h2{
    margin-bottom: 40px;
    font-size: 28px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    margin: 0px;
    padding: 0px;
    background-color: aliceblue;
}
